extends ../layouts/layout.pug

block content
    // Hero Section
    section#hero.hero
      .hero-content
        h1 Organize Your Thoughts with NoteMaster
        p A simple, secure, and powerful note-taking app to capture your ideas anywhere.
        a.hero-btn(href="#pricing") Get Started Free

    script(src="../js/main.js") 
